In [1]:
import pandas as pd

In [3]:
Fct=pd.read_csv('Fct_transactions.csv')
Fct

,TransactionID,TransactionStartDateTime,TransactionEndDateTime,CardholderID,LocationID,TransactionTypeID,TransactionAmount
0,FC-2022-1000000001,01/01/2022 05:00,01/01/2022 05:01,FC-001-1015,FC-001,3,0
1,FC-2022-1000000002,01/01/2022 05:14,01/01/2022 05:16,FC-001-1001,FC-001,3,0
2,FC-2022-1000000003,01/01/2022 05:14,01/01/2022 05:17,FC-002-1045,FC-002,2,10000
3,FC-2022-1000000004,01/01/2022 06:26,01/01/2022 06:31,FC-004-1013,FC-004,1,50000
4,FC-2022-1000000005,01/01/2022 06:27,01/01/2022 06:30,FC-003-1023,FC-003,2,10000
...,...,...,...,...,...,...,...
159647,FC-2022-1000159648,31/12/2022 18:55,31/12/2022 18:59,FC-004-1003,FC-004,2,20000
159648,FC-2022-1000159649,31/12/2022 18:55,31/12/2022 18:59,FC-004-1003,FC-004,1,50000
159649,FC-2022-1000159650,31/12/2022 18:58,31/12/2022 19:01,FC-001-1004,FC-001,1,6000
159650,FC-2022-1000159651,31/12/2022 18:58,31/12/2022 19:02,FC-005-1039,FC-005,1,10000
159651,FC-2022-1000159652,31/12/2022 18:59,31/12/2022 19:03,FC-002-1040,FC-002,4,10000

In [7]:
Fct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159652 entries, 0 to 159651
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             159652 non-null  object
 1   TransactionStartDateTime  159652 non-null  datetime64[ns]
 2   TransactionEndDateTime    159652 non-null  datetime64[ns]
 3   CardholderID              159652 non-null  object
 4   LocationID                159652 non-null  object
 5   TransactionTypeID         159652 non-null  int64
 6   TransactionAmount         159652 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 8.5+ MB

In [6]:
Fct['TransactionStartDateTime']=pd.to_datetime(Fct['TransactionStartDateTime'])
Fct['TransactionEndDateTime']=pd.to_datetime(Fct['TransactionEndDateTime'])

In [8]:
Fct_transactions2=Fct.dropna()

In [9]:
Fct.to_csv('Fct_transactions2.csv')

In [12]:
Rivers=pd.read_csv('Rivers_transactions.csv')

In [18]:
Rivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420098 entries, 0 to 420097
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             420098 non-null  object
 1   TransactionStartDateTime  420098 non-null  datetime64[ns]
 2   TransactionEndDateTime    420098 non-null  datetime64[ns]
 3   CardholderID              420098 non-null  object
 4   LocationID                420098 non-null  object
 5   TransactionTypeID         420098 non-null  int64
 6   TransactionAmount         420098 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 22.4+ MB

In [15]:
Rivers['TransactionStartDateTime']=pd.to_datetime(Rivers['TransactionStartDateTime'])
Rivers['TransactionEndDateTime']=pd.to_datetime(Rivers['TransactionEndDateTime'])

In [16]:
Rivers_transactions2=Rivers.dropna()

In [17]:
Rivers.to_csv('Rivers_transactions2.csv')

In [19]:
Enugu=pd.read_csv('Enugu_transactions.csv')

In [21]:
Enugu['TransactionStartDateTime']=pd.to_datetime(Enugu['TransactionStartDateTime'])
Enugu['TransactionEndDateTime']=pd.to_datetime(Enugu['TransactionEndDateTime'])

In [22]:
Enugu_transactions2=Enugu.dropna()

In [26]:
Enugu.to_csv('Enugu_transactions2.csv')

In [24]:
Enugu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350251 entries, 0 to 350250
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             350251 non-null  object
 1   TransactionStartDateTime  350251 non-null  datetime64[ns]
 2   TransactionEndDateTime    350251 non-null  datetime64[ns]
 3   CardholderID              350251 non-null  object
 4   LocationID                350251 non-null  object
 5   TransactionTypeID         350251 non-null  int64
 6   TransactionAmount         350251 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 18.7+ MB

In [27]:
Kano=pd.read_csv('Kano_transactions.csv')

In [29]:
Kano['TransactionStartDateTime']=pd.to_datetime(Kano['TransactionStartDateTime'])
Kano['TransactionEndDateTime']=pd.to_datetime(Kano['TransactionEndDateTime'])

In [30]:
Kano_transactions2=Kano.dropna()

In [31]:
Kano.to_csv('Kano_transactions2.csv')

In [32]:
Kano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458764 entries, 0 to 458763
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             458764 non-null  object
 1   TransactionStartDateTime  458764 non-null  datetime64[ns]
 2   TransactionEndDateTime    458764 non-null  datetime64[ns]
 3   CardholderID              458764 non-null  object
 4   LocationID                458764 non-null  object
 5   TransactionTypeID         458764 non-null  int64
 6   TransactionAmount         458764 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 24.5+ MB

In [33]:
Lagos=pd.read_csv('Lagos_transactions.csv')

In [34]:
Lagos['TransactionStartDateTime']=pd.to_datetime(Lagos['TransactionStartDateTime'])
Lagos['TransactionEndDateTime']=pd.to_datetime(Lagos['TransactionEndDateTime'])

In [35]:
Lagos_transactions2=Lagos.dropna()

In [36]:
Lagos.to_csv('Lagos_transactions2.csv')

In [37]:
Lagos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755073 entries, 0 to 755072
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             755073 non-null  object
 1   TransactionStartDateTime  755073 non-null  datetime64[ns]
 2   TransactionEndDateTime    755073 non-null  datetime64[ns]
 3   CardholderID              755073 non-null  object
 4   LocationID                755073 non-null  object
 5   TransactionTypeID         755073 non-null  int64
 6   TransactionAmount         755073 non-null  int64
 7   Unnamed: 7                0 non-null       float64
 8   Unnamed: 8                0 non-null       float64
 9   Unnamed: 9                0 non-null       float64
 10  Unnamed: 10               0 non-null       float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(3)
memory usage: 63.4+ MB